.detail-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  grid-column-gap: 24px;
  grid-row-gap: 0px;
  margin-top: 64px;

  @media only screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.detail-preview-image {
  display: flex;
  justify-content: center;
  margin-bottom: 64px;
}

.nft-detail-preview {
  padding: 16px;
  border: 1px solid #c4c4c4;
  max-width: 300px;
  @media only screen and (max-width: 768px) {
    max-width: 200px;
  }
}

.test-branch{
  display: none;
}

.nft-detail-name {
  max-width: 50ch;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: abril-display, serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  margin: 0;
  font-size: 64px;
  padding: 0 120px;

  @media only screen and (max-width: 768px) {
    font-size: 48px;
    padding: 0;
  }
}

.detail-name-container {
  display: flex;
  justify-content: center;
}

.nft-deatil-owner {
  text-align: center;
  margin-bottom: 0;
  margin-top: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.owner-color {
  color: #e8ab0c;
  font-weight: 700;

  @media screen and (max-width: 768px) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 24ch;
    text-align: center;
    display: block;
    margin: auto;
  }
}

.create-darkblock {
  background-color: #121212;
  color: #ffffff;
  padding: 40px;
  border-radius: 4px;
}

.create-title {
  font-family: abril-display, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  margin: 0;
  margin-bottom: 24px;
}

.detail-about-nft {
  font-family: abril-display, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  margin: 0;
  margin-bottom: 16px;
}

// .create-darkblock-container {
//   padding: 40px;
// }

.create-subtitle {
  font-size: 16px;
  color: #9a9a9a;
  margin: 0;
}

.upgrade-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 24px;
  grid-row-gap: 0px;

  @media only screen and (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.flex-grid-thirds {
  display: flex;
  justify-content: space-between;
  width: 100%;
  @media only screen and (max-width: 768px) {
    display: block;
  }
}

.flex-grid-thirds .col {
  padding: 16px;
  border-right: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
  width: 100%;
  @media only screen and (max-width: 768px) {
    padding: 0;
  }
}

.flex-grid-thirds .col:nth-child(3) {
  border-right: none;
}

.col {
  color: #9a9a9a;
  font-size: 12px;
}

@media (max-width: 400px) {
  .flex-grid-thirds {
    display: block;
    .col {
      width: 100%;
      margin: 0 0 10px 0;
    }
  }
}

.about-span {
  display: flex;
  font-size: 16px;
  color: #121212;
  margin-top: 8px;
}

.about-description {
  font-size: 16px;
  color: #121212;
  margin-top: 16px;
  margin: 0;
  padding-top: 8px;
}

.artist-statement {
  font-size: 12px;
  color: #9a9a9a;
  margin: 0;
  margin-bottom: 8px;
  padding: 16px;
  @media only screen and (max-width: 768px) {
    padding: 0px 0px;
    padding-bottom: 16px;
  }
}

.about-the-nft {
  border: 1px solid #c4c4c4;
}

.detail-background {
  background-color: #f9f9f9;
}

.detail-page-container {
  padding: 120px;
  max-width: 1200px;
  margin: auto;
  @media (max-width: 1024px) {
    padding: 48px;
  }
  // @media (min-width: 2560px) {
  //   max-width: 1200px;
  //   height: 1600px;
  //   margin: auto;
  // }
  @media (max-width: 3000px) and (min-width: 1500px) {
    height: 2000px;
    margin: auto;
    max-width: 1200px;
  }
}

.chain-info {
  margin-top: 40px;
}

.chain-flex {
  display: flex;
  align-items: center;
  // justify-content: center;
  border-top: 1px solid #acacac;
}

.blockchain {
  border-bottom: 1px solid #acacac;
}

.chain-span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 12ch;
  margin-left: auto;
}

.contract-address {
  color: #e8ab0c;
  font-weight: 700;
}

.date-created {
  max-width: 9ch;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.upgrade-level {
  border-bottom: 1px solid #888888;
  text-align: center;
  font-weight: 600;
  font-size: 12px;
}

.upgrade-type {
  font-weight: 700;
  font-size: 19px;
  display: flex;
  justify-content: center;
}

.upgrade-number {
  color: #c4c4c4;
  margin: 16px 0;
}

.upgrade-title {
  // text-align: center;
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.upgrade-detail-list {
  list-style-position: outside;
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  //   align-items: center;
}

.about-darkblock {
  color: #c4c4c4;
  font-weight: 700;
  font-size: 14px;
  margin: 0;
  margin-top: 40px;
}

.subtitle-space {
  margin-bottom: 24px;
}

.textarea {
  border-radius: 4px;
  resize: none;
  outline: none;
  width: 100%;
  padding: 16px;
  border: none;
  height: 100%;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 8px;
  color: #9a9a9a;
  background-color: #38383b;
}

.create-darkblock-button {
  background: #ffc324;
  font-weight: 700;
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 16px 24px;
  color: #000000;
  font-size: 16px;
  margin-left: auto;
  cursor: pointer;
}

input:disabled {
  opacity: 0.5;
}

.button-container {
  display: flex;
  margin-top: 24px;
}

.file-input-one {
  width: 220px;
  height: 220px;
  background-image: url(../images/levelone.png);
  background-size: 220px;
  background-position: center;
  background-repeat: no-repeat;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.file-input-two {
  width: 220px;
  height: 220px;
  background-image: url(../images/leveltwo.png);
  background-size: 220px;
  background-position: center;
  background-repeat: no-repeat;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.file-input-text {
  margin: 0;
  font-size: 14px;
}

.no-selected {
  font-weight: 700;
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 0;
}

.file-span {
  color: #ffc324;
  display: flex;
  justify-content: center;
}

.no-darkblock {
  text-align: center;
}

.dbfound {
  display: flex;
  align-items: center;
}

.dbfound-content {
  padding: 24px;
}

.dbfound-subtitle {
  color: #9a9a9a;
  font-size: 12px;
  margin: 0;
  margin-top: 40px;
}

.dbfound-text {
  margin: 0;
  margin-top: 8px;
}

.dbfound-title {
  margin: 0;
  text-align: center;
}

.loading-animation {
  display: flex;
  justify-content: center;
}

.loading-title {
  font-size: 36px;
  font-family: abril-display, serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
}

.loading-content {
  text-align: center;
  width: 75%;
  margin: auto;
  display: block;
}

.loading-text {
  font-size: 16px;
  color: #c4c4c4;
}

.loading-container {
  padding: 48px;
}

.upload-success {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: abril-display, serif;
  font-weight: 700;
  font-style: normal;
}

.success-yellow {
  color: #ffc324;
}

.success-image {
  width: 50%;
  display: block;
  margin: auto;
}

.dbfound-level {
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  color: #c4c4c4;
  border-bottom: 0.5px solid #888888;
  width: 100%;
  margin-bottom: 40px;
  padding-bottom: 16px;
}

.dbfound-label {
  margin: 0;
  margin-bottom: 16px;
}

.ch-limit {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 12ch;
}

.owner-link {
  text-decoration: none;
  cursor: pointer;
}

.creator-link {
  text-decoration: none;
  cursor: pointer;
}

.contract-link {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 12ch;
  margin-left: auto;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip .tooltiptext {
  visibility: hidden;
  // width: 100%;
  background-color: #121212;
  opacity: 1;
  color: #e8ab0c;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 0;
  margin-left: -85px;
}

.tooltip-contract {
  margin-left: -140px !important;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.testmode-label {
  text-align:center;
  color: #ffc324;
  background-color: #191919;
  padding: 16px 0px;
  width: 100%;
  height: max-content;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.testmode-text{
  color: #9a9a9a;
  // padding: 16px;
  margin-left: 24px;
  font-size: 13px;
}

.checkbox-container {
  padding: 0 24px;
  display: flex;
  align-items: center;
}

.test-mode {
  width: 100%;
  background-color: #000;
  margin-top: 40px;
  border-radius: 4px;
}
